In [1]:
import pandas as pd 
import os 
import nltk 
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/advaitmarathe/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
folder = "aclImdb"
labels = {'pos':1, 'neg':0}

In [3]:
df = pd.DataFrame()

In [4]:
for fold in ['test','train']:
    for sent in ['pos','neg']:
        path = os.path.join(folder,fold,sent)
        for file in os.listdir(path):
            with open(os.path.join(path,file),'r', encoding = 'utf-8') as infile:
                txt = infile.read()
                df = df.append([[txt,labels[sent]]], ignore_index = True)

In [13]:
df.columns

Int64Index([0, 1], dtype='int64')

In [11]:
df.rename(columns = { '0': 'Reviews', '1': 'Sentiment' }, inplace=True)

In [14]:
df.columns = ['Review','Sentiment']

In [15]:
df

                                                  Review  Sentiment
0      Based on an actual story, John Boorman shows t...          1
1      This is a gem. As a Film Four production - the...          1
2      I really like this show. It has drama, romance...          1
3      This is the best 3-D experience Disney has at ...          1
4      Of the Korean movies I've seen, only three had...          1
...                                                  ...        ...
49995  My comments may be a bit of a spoiler, for wha...          0
49996  The "saucy" misadventures of four au pairs who...          0
49997  Oh, those Italians! Assuming that movies about...          0
49998  Eight academy nominations? It's beyond belief....          0
49999  Not that I dislike childrens movies, but this ...          0

[50000 rows x 2 columns]

In [16]:
df.to_csv("movie_data.csv",index = False, encoding ='utf-8')

The top part is used to read the data and put it into a csv file.

In [2]:
df = pd.read_csv("movie_data.csv")

In [3]:
df

                                                  Review  Sentiment
0      Based on an actual story, John Boorman shows t...          1
1      This is a gem. As a Film Four production - the...          1
2      I really like this show. It has drama, romance...          1
3      This is the best 3-D experience Disney has at ...          1
4      Of the Korean movies I've seen, only three had...          1
...                                                  ...        ...
49995  My comments may be a bit of a spoiler, for wha...          0
49996  The "saucy" misadventures of four au pairs who...          0
49997  Oh, those Italians! Assuming that movies about...          0
49998  Eight academy nominations? It's beyond belief....          0
49999  Not that I dislike childrens movies, but this ...          0

[50000 rows x 2 columns]

In [4]:
#separate all the reviews into words
reviews = df.Review.str.cat(sep=' ')

In [6]:
reviews[0:10]

'Based on a'

In [45]:
tokens = word_tokenize(reviews)

In [46]:
vocabulary = set(tokens)
print(len(vocabulary))

198763

In [30]:
#finds the most frequent words in the text
frequency_dist = nltk.FreqDist(tokens)
sorted(frequency_dist,key=frequency_dist.__getitem__,reverse = True)[0:10]

['the', ',', '.', 'a', 'and', 'of', 'to', 'is', '/', '>']

In [36]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/advaitmarathe/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [47]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
tokens = [w for w in tokens if w not in stop_words]

In [49]:
frequency_dist2 = nltk.FreqDist(tokens)
sorted(frequency_dist2,key=frequency_dist2.__getitem__,reverse = True)[0:10]

[',', '.', '/', '>', '<', 'br', 'I', "'s", 'The', 'movie']

In [ ]:
#new tokens without punctuation and stopwords: